
# Created by https://www.gitignore.io/api/c++,cmake,emacs
# Edit at https://www.gitignore.io/?templates=c++,cmake,emacs
# hand edited down from there
### C++ ###
# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### Emacs ###
*~
\#*\#
.\#*

### Ivans additions ###
lwtv/
backup/
build/
